{% extends 'base.html.twig' %}

{% block title %}Hello FormSearchFilmController!{% endblock %}

{% block body %}
<h1>Résultat de la recherche</h1>
<ul>
    {% for film in films %}
    <li>{{film.titre}} : {{film.duree}}</li>
    {% endfor %}
</ul>

{# {{form (form)}}

{{form_row (form.titre)}}
{{form_row (form.duree)}}

<button type="submit">Search</button> #}
{# {{form_end (form)}} #}

{% endblock %}
