{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}


<h1>Airport Update</h1>


{{form_start (form)}}

{{form_row (form.Name)}}
{{form_row (form.Code)}}
{{form_row (form.Description)}}
{{form_row (form.DateMiseEnService)}}
{{form_row (form.heureMiseEnService)}}

<button type="submit">Update</button>
{{form_end (form)}}


{% endblock %}
